---
title: A page for about
layout: base.njk
---

<div class="container">
        <h1>This is the home page</h1>
        <div class="change">This will change</div>
        <div class="test">
            <p>Hello world</p>
        </div>
    </div>
    <script src="app.js"></script>